/*
    Styling in this and other .scss files will be compiled by the sbt-sass-compiler plugin: https://github.com/hmrc/sbt-sass-compiler
    If you encounter any issue with Sass compilation using the plugin, please reach out to the PlatUI team.
 */

.js-visible {
  display: none !important;
}
.js-enabled .js-visible {
  display: inline-block !important;
}

.govuk-link--disabled {
  pointer-events: none;
  color: #6a6a6a;
  text-decoration: none;
}


.text-turquoise {
  color: #28a197;
}

@media (min-width: 40.0625em) {
.govuk-summary-list__key {
    width: 35%;
 }
}

.govuk-summary-list__row {
  border-bottom: 1px solid #bfc1c3;
}

.direct-debit-logo {
  max-width:256px;
  max-height: 83px;
  height: auto;
  width: auto;
  margin-bottom: 0.625rem;
}

.inline-logo {
  max-height: 60px;
  vertical-align: middle;
  margin: 0.5em 0;
  width: auto;
  height: auto;
}

.govuk-hint-black {
  color: #0b0c0c;
}

